FORMAT: 1A
HOST: http://private-f2122-adminjson.apiary-mock.com

# Admin API
    This is the official documentation of the Telrock ADMIN API. It features functionality to support all the features the Telrock Admin Dashboard will offer to our users.
    
# Groups Collection [/services]

### List All Services [GET]
Retrive a list of all the services(products) that Telrock offers to their clients.

+ Response 200 (application/json)

        {
            "body": [
                        {
                            "id":1,
                            "name":"Smart Protect"
                        },
                        {
                            "id":2,
                            "name":"Smart Collect"
                        },
                        {
                            "id":3,
                            "name":"Smart Activate"
                        },
                        {
                            "id":4,
                            "name":"Smart Engage"
                        }
                ]
        }
        
# Components Collection [/components]

### List All Components [GET]
Retieve list of components that a client can purchase

+ Response 200 (application/json)

        {
            "body": [
                        {
                            "id":1,
                            "name":"Account Alert",
                            "code":"ACCOUNT_ALERT",
                            "isActive": true,
                            "products": ["Smart Engage"],
                            "sendingWindows": [],
                            "logo": "SmartEngage-logo.png",
                            "status": "purchased-active"
                        },
                        {
                            "id":2,
                            "name":"Account Authorisation",
                            "code":"ACCOUNT_AUTHORISATION",
                            "isActive": false,
                            "products": ["Smart Engage"],
                            "sendingWindows": [],
                            "logo": "SmartEngage-logo.png",
                            "status": "purchased-inactive"
                        },
                        {
                            "id":3,
                            "name":"Account Servicing",
                            "code":"ACCOUNT_SERVICING",
                            "isActive": false,
                            "products": ["Smart Engage"],
                            "sendingWindows": [],
                            "logo": "SmartEngage-logo.png",
                            "status": "not-purchased"
                        },
                        {
                            "id":4,
                            "name":"Batch Campaign",
                            "code":"Batch Campaign",
                            "isActive": false,
                            "products": ["Smart Engage"],
                            "sendingWindows": [],
                            "logo": "SmartEngage-logo.png",
                            "status": "not-purchased"
                        },
                        {
                            "id":5,
                            "name":"Batch File",
                            "code":"BATCH_FILE",
                            "isActive": false,
                            "products": ["Smart Engage"],
                            "sendingWindows": [],
                            "logo": "SmartEngage-logo.png",
                            "status": "not-purchased"
                        },
                        {
                            "id":6,
                            "name":"Fraud Alert",
                            "code":"FRAUD_ALERT",
                            "isActive": false,
                            "products": ["Smart Protect"],
                            "sendingWindows": [],
                            "logo": "SmartProtect-logo.png",
                            "status": "not-purchased"
                        },
                        {
                            "id":7,
                            "name":"One-time Password",
                            "code":"ONE_TIME_PASSWORD",
                            "isActive": false,
                            "products": ["Smart Engage"],
                            "sendingWindows": [],
                            "logo": "SmartEngage-logo.png",
                            "status": "not-purchased"
                        },
                        {
                            "id":8,
                            "name":"Wallet Pay",
                            "code":"WALLET_PAY",
                            "isActive": false,
                            "products": ["Smart Engage"],
                            "sendingWindows": [],
                            "logo": "SmartEngage-logo.png",
                            "status": "not-purchased"
                        },
                        {
                            "id":9,
                            "name":"Web Message",
                            "code":"WEB_MESSAGE",
                            "isActive": false,
                            "products": ["Smart Engage"],
                            "sendingWindows": [],
                            "logo": "SmartEngage-logo.png",
                            "status": "not-purchased"
                        },
                        {
                            "id":10,
                            "name":"Smart Collect",
                            "code":"SMART_COLLECT",
                            "isActive": false,
                            "products": ["Smart Collect"],
                            "sendingWindows": [],
                            "logo": "SmartCollect-logo.png",
                            "status": "not-purchased"
                        }
                ]
        }
        
# Components Update [/components/{id}]

### List All Components [PUT]
Update body data for selected component

+ Response 200 (application/json)

        {
            "body": 
                [
                    {
                        "id":1,
                        "name":"Test account",
                        "code":"TESTING",
                        "isActive": true,
                        "sendingWindows": []
                    }
                ]
        }
        
# Users Collection [/users]

This resource handles all requests for getting or modifying user account data

### List All User objects [GET]
Retrieve a list of all User objects stored in DataBase

+ Response 200 (application/json)

        {
            "body":
                [
                        {
                            "id":1,
                            "userName": "alan_price",
                            "email": "aprice@acme.com",
                            "group": "admin",
                            "lastLogin": "23423428"
                        },
                        {
                            "id":2,
                            "userName": "barry_tanner",
                            "email": "btanner@acme.com",
                            "group": "write",
                            "lastLogin": "345333"
                        },
                        {
                            "id":3,
                            "userName": "chris_dowel",
                            "email": "cdowel@acme.com",
                            "group": "read",
                            "lastLogin": "4564564646"
                        }
                ]
        }
        
        
# Groups Collection [/groups]

This resource handles all requests for getting or modifying application group data.

### List All Available Groups [GET]
Retrieve a list of all the available Group types that can be used in the application.

+ Response 200 (application/json)

        {
            "body":
                [
                    {
                        "id":1,
                        "name": "Administrator",
                        "code": "admin"
                    },
                    {
                        "id":2,
                        "name": "Writer",
                        "code": "write"
                    },
                    {
                        "id":3,
                        "name": "Reader",
                        "code": "read"
                    },
                    {
                        "id":4,
                        "name": "publisher",
                        "code": "pub"
                    }
                ]
        }
        


# BrandList Collection [/brand-list]

### List All Available Brands [GET]
Retrieve a list of all the available brands that can be used with a client.

+ Response 200 (application/json)

        {
            "body":
                [
                    {
                        "id":1,
                        "name": "Virgin Travel"
                    },
                    {
                        "id":2,
                        "name": "Virgin Money"
                    },
                    {
                        "id":3,
                        "name": "Virgin TV"
                    },
                    {
                        "id":4,
                        "name": "Virgin Health"
                    }
                ]
        }
        
       
# CountryList Collection [/country-list] 

### List All Available Countries [GET]
Retrieve a list of all the available countries that can be used with a client.

+ Response 200 (application/json)
        
        {
            "body":
                [
                    {
                        "id": 1,
                        "name": "English(UK)",
                        "code": "GBR",
                        "locale": "en_GB"
                    },
                    {
                        "id": 2,
                        "name": "French",
                        "code": "FRA",
                        "locale": "fr_FR"
                    },
                    {
                        "id": 3,
                        "name": "German",
                        "code": "GER",
                        "locale": "de_DE"
                    },
                    {
                        "id": 4,
                        "name": "Spanish",
                        "code": "ESP",
                        "locale": "es_ES"
                    },
                    {
                        "id": 5,
                        "name": "English(US)",
                        "code": "USA",
                        "locale": "en_US"
                    }
                ]
        }

# Brands Collection [/brands]

### List All Brands [GET]
Retrieve a list with all the brands that a client has.

+ Response 200 (application/json)
        
        {
            "body":
                [   
                    {
                        "id":1,
                        "name":"Virgin Travel",
                        "codeName":"virgin-travel",
                        "defaultBrand": true,
                        "country": "GBR",
                        "alias": ["uk-travel", "ukTrav", "travUK", "ac-travel", "zxTrav", "nmravUK"]
                    },
                    {
                        "id":2,
                        "name":"Virgin Travel",
                        "codeName":"virgin-travel",
                        "defaultBrand": false,
                        "country": "FRA",
                        "alias": ["fr-travel"]
                    },
                    {
                        "id":3,
                        "name":"Virgin Travel",
                        "codeName":"virgin-travel",
                        "defaultBrand": false,
                        "country": "ESP",
                        "alias": ["es-travel"]
                    },
                    {
                        "id":4,
                        "name":"Virgin Money",
                        "codeName":"virgin-money",
                        "defaultBrand": false,
                        "country": "GBR",
                        "alias": ["uk-money"]
                    },
                    {
                        "id":5,
                        "name":"Virgin TV",
                        "codeName":"virgin-tv",
                        "defaultBrand": false,
                        "country": "GBR",
                        "alias": ["uk-tv"]
                    },
                    {
                        "id":6,
                        "name":"Virgin Health",
                        "codeName":"virgin-health",
                        "defaultBrand": false,
                        "country": "GBR",
                        "alias": ["uk-health"]
                    }
                ]
        }
        

        
### Update selected brand [POST]
Update the selected brand data with new values. eg set defaultBrand to either true or false.

+ Response 200 (application/json)
        
        {
            "body": 
                [
                    {
                        "id": 10,
                        "name": "Test Name",
                        "defaultBrand": true,
                        "country": "testLand",
                        "alias": ["testAlias"]
                    }    
                ]
        }
        
   

# Templates Collection [/templates]

A logged in user can have multiple templates under their account. 
This resource is primarily responsible for listing the a preview of all templates and the basic details about them.

### List All Templates preview objects [GET]
Retrieve a list of your templates, Emails & SMS. This will list just a preview of the templates not the complete template object.

+ Response 200 (application/json)

        {
            "body":
                [
                        {
                            "id":1,
                            "name": "christmas campaign",
                            "created_time": 1492214400,
                            "last_modified_time":1472214400,
                            "type":"email",
                            "service":"smart activate",
                            "brand":"virgin travel",
                            "is_live":false,
                            "went_live_time":"1472214400",
                            "body": [
                                {
                                    "lang_id": "english",
                                    "default":true,
                                    "last_modified":1472214400,
                                    "is_live":true,
                                    "subject":"english subject",
                                    "body":"So you know our emails are genuine, whenever we include links to our website in emails we will also quote the last four digits of your card number: "
                                }, {
                                    "lang_id": "german",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":true,
                                    "subject":"german subject",
                                    "body":"So wissen Sie, dass unsere E-Mails echt sind, wann immer wir Links zu unserer Website in E-Mails enthalten, werden wir auch die letzten vier Ziffern Ihrer Kartennummer angeben:"
                                }, {
                                    "lang_id": "italian",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"italian subject",
                                    "body":"In modo da sapere le nostre email sono genuini, ogni volta che includono link al nostro sito web nelle e-mail ci sarà anche citare le ultime quattro cifre del numero della carta:"
                                }, {
                                    "lang_id": "spanish",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":true,
                                    "subject":"spanish subject",
                                    "body":"Así que usted sabe que nuestros correos electrónicos son genuinos, siempre que incluimos enlaces a nuestro sitio web en correos electrónicos, también citaremos los últimos cuatro dígitos de su número de tarjeta:"
                                }, {
                                    "lang_id": "portuguese",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"portuguese subject",
                                    "body":"Então você sabe que nossos e-mails são genuínos, sempre que incluímos links para nosso site em e-mails, também citaremos os últimos quatro dígitos do seu número de cartão:"
                                }
                            ]
                        },
                        {
                            "id":2,
                            "name": "new show SMS",
                            "created_time": 1492214400,
                            "last_modified_time":1472214400,
                            "type":"sms",
                            "service":"smart protect",
                            "brand":"Virgin TV",
                            "is_live":false,
                            "went_live_time":"1472214400",
                            "body": [
                                {
                                    "lang_id": "english",
                                    "default":true,
                                    "last_modified":1412214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"So you know our emails are genuine, wheneve "
                                }, {
                                    "lang_id": "german",
                                    "default":false,
                                    "last_modified":1452214400,
                                    "is_live":true,
                                    "subject":"",
                                    "body":"So wissen Sie, dass unsere E-Mails echt"
                                }, {
                                    "lang_id": "italian",
                                    "default":false,
                                    "last_modified":1432214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"In modo da sapere le nostre email sono genuini "
                                }, {
                                    "lang_id": "spanish",
                                    "default":false,
                                    "last_modified":1492214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"Así que usted sabe que nuestros correos "
                                }, {
                                    "lang_id": "portuguese",
                                    "default":false,
                                    "last_modified":1482214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"Então você sabe que nossos e-mails são genuínos"
                                }
                            ]
                        },
                        {
                            "id":3,
                            "name": "new user capture email",
                            "created_time": 1492214400,
                            "last_modified_time":1472214400,
                            "type":"email",
                            "service":"smart engage",
                            "brand":"virgin money",
                            "is_live":"true",
                            "went_live_time":"1472214400",
                            "body": [
                                {
                                    "lang_id": "english",
                                    "default":true,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"english subject",
                                    "body":"So you know our emails are genuine, whenever we include links to our website in emails we will also quote the last four digits of your card number: "
                                }, {
                                    "lang_id": "german",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"german subject",
                                    "body":"So wissen Sie, dass unsere E-Mails echt sind, wann immer wir Links zu unserer Website in E-Mails enthalten, werden wir auch die letzten vier Ziffern Ihrer Kartennummer angeben:"
                                }, {
                                    "lang_id": "italian",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"italian subject",
                                    "body":"In modo da sapere le nostre email sono genuini, ogni volta che includono link al nostro sito web nelle e-mail ci sarà anche citare le ultime quattro cifre del numero della carta:"
                                }, {
                                    "lang_id": "spanish",
                                    "default":true,
                                    "last_modified":1472214400,
                                    "is_live":true,
                                    "subject":"spanish subject",
                                    "body":"Así que usted sabe que nuestros correos electrónicos son genuinos, siempre que incluimos enlaces a nuestro sitio web en correos electrónicos, también citaremos los últimos cuatro dígitos de su número de tarjeta:"
                                }, {
                                    "lang_id": "portuguese",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"portuguese subject",
                                    "body":"Então você sabe que nossos e-mails são genuínos, sempre que incluímos links para nosso site em e-mails, também citaremos os últimos quatro dígitos do seu número de cartão:"
                                }
                            ]
                        },
                        {
                            "id":4,
                            "name": "nhs campaign",
                            "created_time": 1492214400,
                            "last_modified_time":1472214400,
                            "type":"email",
                            "service":"smart protect",
                            "brand":"virgin health",
                            "is_live":"true",
                            "went_live_time":"1472214400",
                            "body": [
                                {
                                    "lang_id": "english",
                                    "default":true,
                                    "last_modified":1472214400,
                                    "is_live":true,
                                    "subject":"english subject",
                                    "body":"So you know our emails are genuine, whenever we include links to our website in emails we will also quote the last four digits of your card number: "
                                }, {
                                    "lang_id": "german",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"german subject",
                                    "body":"So wissen Sie, dass unsere E-Mails echt sind, wann immer wir Links zu unserer Website in E-Mails enthalten, werden wir auch die letzten vier Ziffern Ihrer Kartennummer angeben:"
                                }, {
                                    "lang_id": "italian",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"italian subject",
                                    "body":"In modo da sapere le nostre email sono genuini, ogni volta che includono link al nostro sito web nelle e-mail ci sarà anche citare le ultime quattro cifre del numero della carta:"
                                }, {
                                    "lang_id": "spanish",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"spanish subject",
                                    "body":"Así que usted sabe que nuestros correos electrónicos son genuinos, siempre que incluimos enlaces a nuestro sitio web en correos electrónicos, también citaremos los últimos cuatro dígitos de su número de tarjeta:"
                                }, {
                                    "lang_id": "portuguese",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"portuguese subject",
                                    "body":"Então você sabe que nossos e-mails são genuínos, sempre que incluímos links para nosso site em e-mails, também citaremos os últimos quatro dígitos do seu número de cartão:"
                                }
                            ]
                        },
                        {
                            "id":5,
                            "name": "collections january",
                            "created_time": 1492214400,
                            "last_modified_time":1472214400,
                            "type":"sms",
                            "service":"smart collect",
                            "brand":"virgin money",
                            "is_live":"true",
                            "went_live_time":"1472214400",
                            "body": [
                                {
                                    "lang_id": "english",
                                    "default":true,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"So you know our emails are genuine, wheneve "
                                }, {
                                    "lang_id": "german",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"So wissen Sie, dass unsere E-Mails echt"
                                }, {
                                    "lang_id": "italian",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"In modo da sapere le nostre email sono genuini "
                                }, {
                                    "lang_id": "spanish",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"Así que usted sabe que nuestros correos "
                                }, {
                                    "lang_id": "portuguese",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"Então você sabe que nossos e-mails são genuínos"
                                }
                            ]
                        },
                        {
                            "id":6,
                            "name": "Virgin Money new member",
                            "created_time": 1492214400,
                            "last_modified_time":1472214400,
                            "type":"email",
                            "service":"smart activate",
                            "brand":"Virgin Money",
                            "is_live":"true",
                            "went_live_time":"1472214400",
                            "body": [
                                {
                                    "lang_id": "english",
                                    "default":true,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"english subject",
                                    "body":"So you know our emails are genuine, whenever we include links to our website in emails we will also quote the last four digits of your card number: "
                                }, {
                                    "lang_id": "german",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"german subject",
                                    "body":"So wissen Sie, dass unsere E-Mails echt sind, wann immer wir Links zu unserer Website in E-Mails enthalten, werden wir auch die letzten vier Ziffern Ihrer Kartennummer angeben:"
                                }, {
                                    "lang_id": "italian",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"italian subject",
                                    "body":"In modo da sapere le nostre email sono genuini, ogni volta che includono link al nostro sito web nelle e-mail ci sarà anche citare le ultime quattro cifre del numero della carta:"
                                }, {
                                    "lang_id": "spanish",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"spanish subject",
                                    "body":"Así que usted sabe que nuestros correos electrónicos son genuinos, siempre que incluimos enlaces a nuestro sitio web en correos electrónicos, también citaremos los últimos cuatro dígitos de su número de tarjeta:"
                                }, {
                                    "lang_id": "portuguese",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"portuguese subject",
                                    "body":"Então você sabe que nossos e-mails são genuínos, sempre que incluímos links para nosso site em e-mails, também citaremos os últimos quatro dígitos do seu número de cartão:"
                                }
                            ]
                        },
                        {
                            "id":7,
                            "name": "text message welcome",
                            "created_time": 1492214400,
                            "last_modified_time":1472214400,
                            "type":"sms",
                            "service":"smart engage",
                            "brand":"virgin health",
                            "is_live":"true",
                            "went_live_time":"1472214400",
                            "body": [
                                {
                                    "lang_id": "english",
                                    "default":true,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"So you know our emails are genuine, wheneve "
                                }, {
                                    "lang_id": "german",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"So wissen Sie, dass unsere E-Mails echt"
                                }, {
                                    "lang_id": "italian",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"In modo da sapere le nostre email sono genuini "
                                }, {
                                    "lang_id": "spanish",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"Así que usted sabe que nuestros correos "
                                }, {
                                    "lang_id": "portuguese",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"Então você sabe que nossos e-mails são genuínos"
                                }
                            ]
                        },
                        {
                            "id":8,
                            "name": "anual subscription",
                            "created_time": 1492214400,
                            "last_modified_time":1472214400,
                            "type":"sms",
                            "service":"smart group",
                            "brand":"virgin tv",
                            "is_live":"true",
                            "went_live_time":"1472214400",
                            "body": [
                                {
                                    "lang_id": "english",
                                    "default":true,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"So you know our emails are genuine, wheneve "
                                }, {
                                    "lang_id": "german",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"So wissen Sie, dass unsere E-Mails echt"
                                }, {
                                    "lang_id": "italian",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"In modo da sapere le nostre email sono genuini "
                                }, {
                                    "lang_id": "spanish",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"Así que usted sabe que nuestros correos "
                                }, {
                                    "lang_id": "portuguese",
                                    "default":false,
                                    "last_modified":1472214400,
                                    "is_live":false,
                                    "subject":"",
                                    "body":"Então você sabe que nossos e-mails são genuínos"
                                }
                            ]
                        }
                    ]
        }
# Template [/templates/{template_id}]

### List All Templates preview objects [GET]
Retrieves an specific template identified for the template ID. This will retreive the whole template object,
not just the preview objects that we get at [/templates]

+ Response 200 (application/json)

        {
            "body":
                {   
                    "id":1,
                    "name":"christmas campaign",
                    "created_time":1492214400,
                    "last_modified_time":1472214400,
                    "type":"email",
                    "service":"smart activate",
                    "brand":"virgin travel",
                    "merge_tags":[
                        { 
                            "id":1,
                            "name":"account ending",
                            "value":"$!{ServiceAlertVO_last4}"
                        },
                        { 
                            "id":2,
                            "name":"credit limit",
                            "value":"$!{V_CREDIT_LIMIT}"
                        },
                        { 
                            "id":3,
                            "name":"account openning date",
                            "value":"$!{V_OPEN_DATE}"
                        },
                        { 
                            "id":4,
                            "name":"customer first name",
                            "value":"$!{V_PRIM_FULL_FIRST_NAME}"
                        },
                        { 
                            "id":5,
                            "name":"discount offer",
                            "value":"$!{V_DISSCOUNT_OFFER}"
                        },
                        { 
                            "id":6,
                            "name":"promotion date",
                            "value":"$!{V_PROMOTION_DATE}"
                        },
                        { 
                            "id":7,
                            "name":"bank name",
                            "value":"$!{V_BANK_NAME}"
                        },
                        { 
                            "id":8,
                            "name":"customer title",
                            "value":"$!{V_CUSTOMER_TITLE}"
                        },
                        { 
                            "id":9,
                            "name":"analytics",
                            "value":"<style data-ignore-inlining>@media print{ #_t { background-image: url('https://nmafvksf.emltrk.com/nmafvksf?p&d=');}} div.OutlookMessageHeader {background-image:url('https://nmafvksf.emltrk.com/nmafvksf?f&d=')} table.moz-email-headers-table {background-image:url('https://nmafvksf.emltrk.com/nmafvksf?f&d=')} blockquote #_t {background-image:url('https://nmafvksf.emltrk.com/nmafvksf?f&d=')} #MailContainerBody #_t {background-image:url('https://nmafvksf.emltrk.com/nmafvksf?f&d=')}</style><div id='_t'></div><img src='https://nmafvksf.emltrk.com/nmafvksf?d=' width='1' height='1' border='0' />"
                        }
                        
                    ],
                    "body": [
                                {
                                    "lang_id": "english",
                                    "body_version": [
                                        {
                                            "status":"draft",
                                            "last_modified_time":1492214400,
                                            "subject":"december incredible offer, draft",
                                            "template":{"page":{"title":"Template Base","description":"Test template for BEE","template":{"name":"template-base","type":"basic","version":"0.0.1"},"body":{"type":"mailup-bee-page-proprerties","container":{"style":{"background-color":"#FFFFFF"}},"content":{"style":{"font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif","color":"#000000"},"computedStyle":{"linkColor":"#0068A5","messageBackgroundColor":"transparent","messageWidth":"500px"}},"webFonts":[]},"rows":[{"type":"one-column-empty","container":{"style":{"background-color":"transparent","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"content":{"style":{"background-color":"transparent","color":"#000000","width":"500px","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"columns":[{"grid-columns":12,"modules":[{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 14px; line-height: 16px; text-align: center;\" data-mce-style=\"font-size: 14px; line-height: 16px; text-align: center;\"><span style=\"font-size: 26px; line-height: 31px;\" data-mce-style=\"font-size: 26px;\"><strong>This is the english draft template</strong></span><br></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 14px; text-align: center;\" data-mce-style=\"font-size: 12px; line-height: 14px; text-align: center;\"><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px; line-height: 9px;\">﻿</span><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px;\">So you know our emails are genuine, whenever we include links to our website in emails we will also quote the last four digits of your card number: $!{ServiceAlertVO_last4}.</span></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-image","descriptor":{"image":{"alt":"Image","src":"https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/Integrators/9edf2c94-8936-4b01-bb25-156c0c4ffc9e/test1-clientside/email_header.png","href":""},"style":{"width":"100%","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px"},"computedStyle":{"class":"center fullwidth","width":500}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;\" data-mce-style=\"font-size: 12px; line-height: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\"><span style=\"font-size: 14px; line-height: 16px; color: rgb(153, 51, 0); background-color: rgb(255, 255, 255);\" data-mce-style=\"font-size: 14px; line-height: 16px; color: #993300; background-color: #ffffff;\"><span style=\"font-size: 18px; line-height: 21px;\" data-mce-style=\"font-size: 18px;\">Available for 60 days from account opening</span>.</span></p></div>","style":{"color":"#E20404","line-height":"120%","font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">Your Virgin Money Credit Card account ending $!{ServiceAlertVO_last4}<br>Your credit limit: $!{V_CREDIT_LIMIT.replace(\"\\u0024\",\"£\")}<br>Account opening date: $!{V_OPEN_DATE}</p></div>","style":{"color":"#555555","line-height":"150%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<p style=\"font-size: 12px; line-height: 14px;\">Dear&nbsp;$!{V_PRIM_FULL_FIRST_NAME}</p>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\">Remember, you still have time to take advantage of your introductory balance and money transfer offer for your Virgin Money Credit Card, available for 60 days from the date you opened your account.</p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;\" data-mce-style=\"font-size: 12px; line-height: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\"><span style=\"font-size: 18px; line-height: 21px; color: rgb(153, 51, 0);\" data-mce-style=\"font-size: 18px; line-height: 21px; color: #993300;\"><span id=\"_mce_caret\" data-mce-bogus=\"true\" style=\"font-size: 18px; line-height: 21px;\">﻿</span>Three key things to know</span></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"'Helvetica Neue', Helvetica, Arial, sans-serif"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">Our handling fees - we may charge a fee for transfers. Please refer to the promotional terms that you received with your card.</p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&nbsp;<br></p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&gt; Your rate - after the promotional period ends, any remaining transferred balance will be at your standard interest rate, which you can find on your statement.</p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&nbsp;<br></p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&gt; The terms - we will withdraw the promotional rate if you don't stick to the terms of your credit agreement (e.g. you miss a payment or go over your credit limit)</p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-image","descriptor":{"image":{"alt":"Image","src":"https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/Integrators/9edf2c94-8936-4b01-bb25-156c0c4ffc9e/test1-clientside/editor_images/bf0db2f4e0f546ee95e88edff575af63.gif","href":""},"style":{"width":"100%","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px"},"computedStyle":{"class":"center fullwidth","width":500}}},{"type":"mailup-bee-newsletter-modules-social","descriptor":{"iconsList":{"icons":[{"type":"follow","name":"facebook","image":{"prefix":"https://www.facebook.com/","alt":"Facebook","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/facebook@2x.png","title":"Facebook","href":"https://www.facebook.com/"},"text":""},{"type":"follow","name":"twitter","image":{"prefix":"https://twitter.com/","alt":"Twitter","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/twitter@2x.png","title":"Twitter","href":"https://twitter.com/"},"text":""},{"type":"follow","name":"google","image":{"prefix":"https://plus.google.com/","alt":"Google+","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/googleplus@2x.png","title":"Google+","href":"https://plus.google.com/"},"text":""}]},"style":{"text-align":"center","padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"},"computedStyle":{"padding":"0 5px 5px 0","iconsDefaultWidth":32,"width":151,"height":58}}}],"style":{"background-color":"transparent","padding-top":"5px","padding-right":"0px","padding-bottom":"5px","padding-left":"0px","border-top":"0px solid transparent","border-right":"0px solid transparent","border-bottom":"0px solid transparent","border-left":"0px solid transparent"}}]}]}}
                                        },
                                                                                {
                                            "status":"live",
                                            "live_timestamp":1492214400,
                                            "subject":"december incredible offer, live",
                                            "template":{"page":{"title":"Template Base","description":"Test template for BEE","template":{"name":"template-base","type":"basic","version":"0.0.1"},"body":{"type":"mailup-bee-page-proprerties","container":{"style":{"background-color":"#FFFFFF"}},"content":{"style":{"font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif","color":"#000000"},"computedStyle":{"linkColor":"#0068A5","messageBackgroundColor":"transparent","messageWidth":"500px"}},"webFonts":[]},"rows":[{"type":"one-column-empty","container":{"style":{"background-color":"transparent","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"content":{"style":{"background-color":"transparent","color":"#000000","width":"500px","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"columns":[{"grid-columns":12,"modules":[{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 14px; line-height: 16px; text-align: center;\" data-mce-style=\"font-size: 14px; line-height: 16px; text-align: center;\"><span style=\"font-size: 26px; line-height: 31px;\" data-mce-style=\"font-size: 26px;\"><strong>This is the english live template</strong></span><br></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 14px; text-align: center;\" data-mce-style=\"font-size: 12px; line-height: 14px; text-align: center;\"><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px; line-height: 9px;\">﻿</span><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px;\">So you know our emails are genuine, whenever we include links to our website in emails we will also quote the last four digits of your card number: $!{ServiceAlertVO_last4}.</span></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-image","descriptor":{"image":{"alt":"Image","src":"https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/Integrators/9edf2c94-8936-4b01-bb25-156c0c4ffc9e/test1-clientside/email_header.png","href":""},"style":{"width":"100%","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px"},"computedStyle":{"class":"center fullwidth","width":500}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;\" data-mce-style=\"font-size: 12px; line-height: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\"><span style=\"font-size: 14px; line-height: 16px; color: rgb(153, 51, 0); background-color: rgb(255, 255, 255);\" data-mce-style=\"font-size: 14px; line-height: 16px; color: #993300; background-color: #ffffff;\"><span style=\"font-size: 18px; line-height: 21px;\" data-mce-style=\"font-size: 18px;\">Available for 60 days from account opening</span>.</span></p></div>","style":{"color":"#E20404","line-height":"120%","font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">Your Virgin Money Credit Card account ending $!{ServiceAlertVO_last4}<br>Your credit limit: $!{V_CREDIT_LIMIT.replace(\"\\u0024\",\"£\")}<br>Account opening date: $!{V_OPEN_DATE}</p></div>","style":{"color":"#555555","line-height":"150%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<p style=\"font-size: 12px; line-height: 14px;\">Dear&nbsp;$!{V_PRIM_FULL_FIRST_NAME}</p>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\">Remember, you still have time to take advantage of your introductory balance and money transfer offer for your Virgin Money Credit Card, available for 60 days from the date you opened your account.</p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;\" data-mce-style=\"font-size: 12px; line-height: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\"><span style=\"font-size: 18px; line-height: 21px; color: rgb(153, 51, 0);\" data-mce-style=\"font-size: 18px; line-height: 21px; color: #993300;\"><span id=\"_mce_caret\" data-mce-bogus=\"true\" style=\"font-size: 18px; line-height: 21px;\">﻿</span>Three key things to know</span></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"'Helvetica Neue', Helvetica, Arial, sans-serif"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">Our handling fees - we may charge a fee for transfers. Please refer to the promotional terms that you received with your card.</p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&nbsp;<br></p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&gt; Your rate - after the promotional period ends, any remaining transferred balance will be at your standard interest rate, which you can find on your statement.</p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&nbsp;<br></p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&gt; The terms - we will withdraw the promotional rate if you don't stick to the terms of your credit agreement (e.g. you miss a payment or go over your credit limit)</p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-image","descriptor":{"image":{"alt":"Image","src":"https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/Integrators/9edf2c94-8936-4b01-bb25-156c0c4ffc9e/test1-clientside/editor_images/bf0db2f4e0f546ee95e88edff575af63.gif","href":""},"style":{"width":"100%","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px"},"computedStyle":{"class":"center fullwidth","width":500}}},{"type":"mailup-bee-newsletter-modules-social","descriptor":{"iconsList":{"icons":[{"type":"follow","name":"facebook","image":{"prefix":"https://www.facebook.com/","alt":"Facebook","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/facebook@2x.png","title":"Facebook","href":"https://www.facebook.com/"},"text":""},{"type":"follow","name":"twitter","image":{"prefix":"https://twitter.com/","alt":"Twitter","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/twitter@2x.png","title":"Twitter","href":"https://twitter.com/"},"text":""},{"type":"follow","name":"google","image":{"prefix":"https://plus.google.com/","alt":"Google+","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/googleplus@2x.png","title":"Google+","href":"https://plus.google.com/"},"text":""}]},"style":{"text-align":"center","padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"},"computedStyle":{"padding":"0 5px 5px 0","iconsDefaultWidth":32,"width":151,"height":58}}}],"style":{"background-color":"transparent","padding-top":"5px","padding-right":"0px","padding-bottom":"5px","padding-left":"0px","border-top":"0px solid transparent","border-right":"0px solid transparent","border-bottom":"0px solid transparent","border-left":"0px solid transparent"}}]}]}}
                                        }
                                    ]
                                },
                                {
                                    "lang_id": "german",
                                    "body_version": [
                                        {
                                            "status":"draft",
                                            "last_modified_time":1492214400,
                                            "subject":"december incredible offer, draft",
                                            "template":{"page":{"title":"Template Base","description":"Test template for BEE","template":{"name":"template-base","type":"basic","version":"0.0.1"},"body":{"type":"mailup-bee-page-proprerties","container":{"style":{"background-color":"#FFFFFF"}},"content":{"style":{"font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif","color":"#000000"},"computedStyle":{"linkColor":"#0068A5","messageBackgroundColor":"transparent","messageWidth":"500px"}},"webFonts":[]},"rows":[{"type":"one-column-empty","container":{"style":{"background-color":"transparent","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"content":{"style":{"background-color":"transparent","color":"#000000","width":"500px","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"columns":[{"grid-columns":12,"modules":[{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 14px; line-height: 16px; text-align: center;\" data-mce-style=\"font-size: 14px; line-height: 16px; text-align: center;\"><span style=\"font-size: 26px; line-height: 31px;\" data-mce-style=\"font-size: 26px;\"><strong>This is the german draft template</strong></span><br></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 14px; text-align: center;\" data-mce-style=\"font-size: 12px; line-height: 14px; text-align: center;\"><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px; line-height: 9px;\">﻿</span><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px;\">So you know our emails are genuine, whenever we include links to our website in emails we will also quote the last four digits of your card number: $!{ServiceAlertVO_last4}.</span></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-image","descriptor":{"image":{"alt":"Image","src":"https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/Integrators/9edf2c94-8936-4b01-bb25-156c0c4ffc9e/test1-clientside/email_header.png","href":""},"style":{"width":"100%","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px"},"computedStyle":{"class":"center fullwidth","width":500}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;\" data-mce-style=\"font-size: 12px; line-height: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\"><span style=\"font-size: 14px; line-height: 16px; color: rgb(153, 51, 0); background-color: rgb(255, 255, 255);\" data-mce-style=\"font-size: 14px; line-height: 16px; color: #993300; background-color: #ffffff;\"><span style=\"font-size: 18px; line-height: 21px;\" data-mce-style=\"font-size: 18px;\">Available for 60 days from account opening</span>.</span></p></div>","style":{"color":"#E20404","line-height":"120%","font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">Your Virgin Money Credit Card account ending $!{ServiceAlertVO_last4}<br>Your credit limit: $!{V_CREDIT_LIMIT.replace(\"\\u0024\",\"£\")}<br>Account opening date: $!{V_OPEN_DATE}</p></div>","style":{"color":"#555555","line-height":"150%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<p style=\"font-size: 12px; line-height: 14px;\">Dear&nbsp;$!{V_PRIM_FULL_FIRST_NAME}</p>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\">Remember, you still have time to take advantage of your introductory balance and money transfer offer for your Virgin Money Credit Card, available for 60 days from the date you opened your account.</p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;\" data-mce-style=\"font-size: 12px; line-height: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\"><span style=\"font-size: 18px; line-height: 21px; color: rgb(153, 51, 0);\" data-mce-style=\"font-size: 18px; line-height: 21px; color: #993300;\"><span id=\"_mce_caret\" data-mce-bogus=\"true\" style=\"font-size: 18px; line-height: 21px;\">﻿</span>Three key things to know</span></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"'Helvetica Neue', Helvetica, Arial, sans-serif"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">Our handling fees - we may charge a fee for transfers. Please refer to the promotional terms that you received with your card.</p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&nbsp;<br></p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&gt; Your rate - after the promotional period ends, any remaining transferred balance will be at your standard interest rate, which you can find on your statement.</p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&nbsp;<br></p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&gt; The terms - we will withdraw the promotional rate if you don't stick to the terms of your credit agreement (e.g. you miss a payment or go over your credit limit)</p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-image","descriptor":{"image":{"alt":"Image","src":"https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/Integrators/9edf2c94-8936-4b01-bb25-156c0c4ffc9e/test1-clientside/editor_images/bf0db2f4e0f546ee95e88edff575af63.gif","href":""},"style":{"width":"100%","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px"},"computedStyle":{"class":"center fullwidth","width":500}}},{"type":"mailup-bee-newsletter-modules-social","descriptor":{"iconsList":{"icons":[{"type":"follow","name":"facebook","image":{"prefix":"https://www.facebook.com/","alt":"Facebook","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/facebook@2x.png","title":"Facebook","href":"https://www.facebook.com/"},"text":""},{"type":"follow","name":"twitter","image":{"prefix":"https://twitter.com/","alt":"Twitter","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/twitter@2x.png","title":"Twitter","href":"https://twitter.com/"},"text":""},{"type":"follow","name":"google","image":{"prefix":"https://plus.google.com/","alt":"Google+","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/googleplus@2x.png","title":"Google+","href":"https://plus.google.com/"},"text":""}]},"style":{"text-align":"center","padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"},"computedStyle":{"padding":"0 5px 5px 0","iconsDefaultWidth":32,"width":151,"height":58}}}],"style":{"background-color":"transparent","padding-top":"5px","padding-right":"0px","padding-bottom":"5px","padding-left":"0px","border-top":"0px solid transparent","border-right":"0px solid transparent","border-bottom":"0px solid transparent","border-left":"0px solid transparent"}}]}]}}
                                        },
                                                                                {
                                            "status":"live",
                                            "live_timestamp":1492214400,
                                            "subject":"december incredible offer, live",
                                            "template":{"page":{"title":"Template Base","description":"Test template for BEE","template":{"name":"template-base","type":"basic","version":"0.0.1"},"body":{"type":"mailup-bee-page-proprerties","container":{"style":{"background-color":"#FFFFFF"}},"content":{"style":{"font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif","color":"#000000"},"computedStyle":{"linkColor":"#0068A5","messageBackgroundColor":"transparent","messageWidth":"500px"}},"webFonts":[]},"rows":[{"type":"one-column-empty","container":{"style":{"background-color":"transparent","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"content":{"style":{"background-color":"transparent","color":"#000000","width":"500px","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"columns":[{"grid-columns":12,"modules":[{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 14px; line-height: 16px; text-align: center;\" data-mce-style=\"font-size: 14px; line-height: 16px; text-align: center;\"><span style=\"font-size: 26px; line-height: 31px;\" data-mce-style=\"font-size: 26px;\"><strong>This is the german live template</strong></span><br></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 14px; text-align: center;\" data-mce-style=\"font-size: 12px; line-height: 14px; text-align: center;\"><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px; line-height: 9px;\">﻿</span><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px;\">So you know our emails are genuine, whenever we include links to our website in emails we will also quote the last four digits of your card number: $!{ServiceAlertVO_last4}.</span></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-image","descriptor":{"image":{"alt":"Image","src":"https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/Integrators/9edf2c94-8936-4b01-bb25-156c0c4ffc9e/test1-clientside/email_header.png","href":""},"style":{"width":"100%","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px"},"computedStyle":{"class":"center fullwidth","width":500}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;\" data-mce-style=\"font-size: 12px; line-height: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\"><span style=\"font-size: 14px; line-height: 16px; color: rgb(153, 51, 0); background-color: rgb(255, 255, 255);\" data-mce-style=\"font-size: 14px; line-height: 16px; color: #993300; background-color: #ffffff;\"><span style=\"font-size: 18px; line-height: 21px;\" data-mce-style=\"font-size: 18px;\">Available for 60 days from account opening</span>.</span></p></div>","style":{"color":"#E20404","line-height":"120%","font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">Your Virgin Money Credit Card account ending $!{ServiceAlertVO_last4}<br>Your credit limit: $!{V_CREDIT_LIMIT.replace(\"\\u0024\",\"£\")}<br>Account opening date: $!{V_OPEN_DATE}</p></div>","style":{"color":"#555555","line-height":"150%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<p style=\"font-size: 12px; line-height: 14px;\">Dear&nbsp;$!{V_PRIM_FULL_FIRST_NAME}</p>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\">Remember, you still have time to take advantage of your introductory balance and money transfer offer for your Virgin Money Credit Card, available for 60 days from the date you opened your account.</p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;\" data-mce-style=\"font-size: 12px; line-height: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\"><span style=\"font-size: 18px; line-height: 21px; color: rgb(153, 51, 0);\" data-mce-style=\"font-size: 18px; line-height: 21px; color: #993300;\"><span id=\"_mce_caret\" data-mce-bogus=\"true\" style=\"font-size: 18px; line-height: 21px;\">﻿</span>Three key things to know</span></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"'Helvetica Neue', Helvetica, Arial, sans-serif"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">Our handling fees - we may charge a fee for transfers. Please refer to the promotional terms that you received with your card.</p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&nbsp;<br></p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&gt; Your rate - after the promotional period ends, any remaining transferred balance will be at your standard interest rate, which you can find on your statement.</p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&nbsp;<br></p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&gt; The terms - we will withdraw the promotional rate if you don't stick to the terms of your credit agreement (e.g. you miss a payment or go over your credit limit)</p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-image","descriptor":{"image":{"alt":"Image","src":"https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/Integrators/9edf2c94-8936-4b01-bb25-156c0c4ffc9e/test1-clientside/editor_images/bf0db2f4e0f546ee95e88edff575af63.gif","href":""},"style":{"width":"100%","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px"},"computedStyle":{"class":"center fullwidth","width":500}}},{"type":"mailup-bee-newsletter-modules-social","descriptor":{"iconsList":{"icons":[{"type":"follow","name":"facebook","image":{"prefix":"https://www.facebook.com/","alt":"Facebook","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/facebook@2x.png","title":"Facebook","href":"https://www.facebook.com/"},"text":""},{"type":"follow","name":"twitter","image":{"prefix":"https://twitter.com/","alt":"Twitter","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/twitter@2x.png","title":"Twitter","href":"https://twitter.com/"},"text":""},{"type":"follow","name":"google","image":{"prefix":"https://plus.google.com/","alt":"Google+","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/googleplus@2x.png","title":"Google+","href":"https://plus.google.com/"},"text":""}]},"style":{"text-align":"center","padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"},"computedStyle":{"padding":"0 5px 5px 0","iconsDefaultWidth":32,"width":151,"height":58}}}],"style":{"background-color":"transparent","padding-top":"5px","padding-right":"0px","padding-bottom":"5px","padding-left":"0px","border-top":"0px solid transparent","border-right":"0px solid transparent","border-bottom":"0px solid transparent","border-left":"0px solid transparent"}}]}]}}
                                        }
                                    ]
                                },
                                {
                                    "lang_id": "portuguese",
                                    "body_version": [
                                        {
                                            "status":"draft",
                                            "last_modified_time":1492214400,
                                            "subject":"december incredible offer, draft",
                                            "template":{"page":{"title":"Template Base","description":"Test template for BEE","template":{"name":"template-base","type":"basic","version":"0.0.1"},"body":{"type":"mailup-bee-page-proprerties","container":{"style":{"background-color":"#FFFFFF"}},"content":{"style":{"font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif","color":"#000000"},"computedStyle":{"linkColor":"#0068A5","messageBackgroundColor":"transparent","messageWidth":"500px"}},"webFonts":[]},"rows":[{"type":"one-column-empty","container":{"style":{"background-color":"transparent","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"content":{"style":{"background-color":"transparent","color":"#000000","width":"500px","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"columns":[{"grid-columns":12,"modules":[{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 14px; line-height: 16px; text-align: center;\" data-mce-style=\"font-size: 14px; line-height: 16px; text-align: center;\"><span style=\"font-size: 26px; line-height: 31px;\" data-mce-style=\"font-size: 26px;\"><strong>This is the portuguese draft template</strong></span><br></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 14px; text-align: center;\" data-mce-style=\"font-size: 12px; line-height: 14px; text-align: center;\"><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px; line-height: 9px;\">﻿</span><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px;\">So you know our emails are genuine, whenever we include links to our website in emails we will also quote the last four digits of your card number: $!{ServiceAlertVO_last4}.</span></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-image","descriptor":{"image":{"alt":"Image","src":"https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/Integrators/9edf2c94-8936-4b01-bb25-156c0c4ffc9e/test1-clientside/email_header.png","href":""},"style":{"width":"100%","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px"},"computedStyle":{"class":"center fullwidth","width":500}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;\" data-mce-style=\"font-size: 12px; line-height: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\"><span style=\"font-size: 14px; line-height: 16px; color: rgb(153, 51, 0); background-color: rgb(255, 255, 255);\" data-mce-style=\"font-size: 14px; line-height: 16px; color: #993300; background-color: #ffffff;\"><span style=\"font-size: 18px; line-height: 21px;\" data-mce-style=\"font-size: 18px;\">Available for 60 days from account opening</span>.</span></p></div>","style":{"color":"#E20404","line-height":"120%","font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">Your Virgin Money Credit Card account ending $!{ServiceAlertVO_last4}<br>Your credit limit: $!{V_CREDIT_LIMIT.replace(\"\\u0024\",\"£\")}<br>Account opening date: $!{V_OPEN_DATE}</p></div>","style":{"color":"#555555","line-height":"150%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<p style=\"font-size: 12px; line-height: 14px;\">Dear&nbsp;$!{V_PRIM_FULL_FIRST_NAME}</p>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\">Remember, you still have time to take advantage of your introductory balance and money transfer offer for your Virgin Money Credit Card, available for 60 days from the date you opened your account.</p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;\" data-mce-style=\"font-size: 12px; line-height: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\"><span style=\"font-size: 18px; line-height: 21px; color: rgb(153, 51, 0);\" data-mce-style=\"font-size: 18px; line-height: 21px; color: #993300;\"><span id=\"_mce_caret\" data-mce-bogus=\"true\" style=\"font-size: 18px; line-height: 21px;\">﻿</span>Three key things to know</span></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"'Helvetica Neue', Helvetica, Arial, sans-serif"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">Our handling fees - we may charge a fee for transfers. Please refer to the promotional terms that you received with your card.</p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&nbsp;<br></p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&gt; Your rate - after the promotional period ends, any remaining transferred balance will be at your standard interest rate, which you can find on your statement.</p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&nbsp;<br></p><p style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">&gt; The terms - we will withdraw the promotional rate if you don't stick to the terms of your credit agreement (e.g. you miss a payment or go over your credit limit)</p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-image","descriptor":{"image":{"alt":"Image","src":"https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/Integrators/9edf2c94-8936-4b01-bb25-156c0c4ffc9e/test1-clientside/editor_images/bf0db2f4e0f546ee95e88edff575af63.gif","href":""},"style":{"width":"100%","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px"},"computedStyle":{"class":"center fullwidth","width":500}}},{"type":"mailup-bee-newsletter-modules-social","descriptor":{"iconsList":{"icons":[{"type":"follow","name":"facebook","image":{"prefix":"https://www.facebook.com/","alt":"Facebook","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/facebook@2x.png","title":"Facebook","href":"https://www.facebook.com/"},"text":""},{"type":"follow","name":"twitter","image":{"prefix":"https://twitter.com/","alt":"Twitter","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/twitter@2x.png","title":"Twitter","href":"https://twitter.com/"},"text":""},{"type":"follow","name":"google","image":{"prefix":"https://plus.google.com/","alt":"Google+","src":"https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/googleplus@2x.png","title":"Google+","href":"https://plus.google.com/"},"text":""}]},"style":{"text-align":"center","padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"},"computedStyle":{"padding":"0 5px 5px 0","iconsDefaultWidth":32,"width":151,"height":58}}}],"style":{"background-color":"transparent","padding-top":"5px","padding-right":"0px","padding-bottom":"5px","padding-left":"0px","border-top":"0px solid transparent","border-right":"0px solid transparent","border-bottom":"0px solid transparent","border-left":"0px solid transparent"}}]}]}}
                                        },
                                                                                {
                                            "status":"live",
                                            "live_timestamp":1492214400,
                                            "subject":"december incredible offer, live",
                                            "template":{"page":{"title":"Template Base","description":"Test template for BEE","template":{"name":"template-base","type":"basic","version":"0.0.1"},"body":{"type":"mailup-bee-page-proprerties","container":{"style":{"background-color":"#FFFFFF"}},"content":{"style":{"font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif","color":"#000000"},"computedStyle":{"linkColor":"#0068A5","messageBackgroundColor":"transparent","messageWidth":"500px"}},"webFonts":[]},"rows":[{"type":"one-column-empty","container":{"style":{"background-color":"transparent","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"content":{"style":{"background-color":"transparent","color":"#000000","width":"500px","background-image":"none","background-repeat":"no-repeat","background-position":"top left"}},"columns":[{"grid-columns":12,"modules":[{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 14px; line-height: 16px; text-align: center;\" data-mce-style=\"font-size: 14px; line-height: 16px; text-align: center;\"><span style=\"font-size: 26px; line-height: 31px;\" data-mce-style=\"font-size: 26px;\"><strong>This is the portuguese live template</strong></span><br></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 14px; text-align: center;\" data-mce-style=\"font-size: 12px; line-height: 14px; text-align: center;\"><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px; line-height: 9px;\">﻿</span><span style=\"font-size: 11px; line-height: 13px;\" data-mce-style=\"font-size: 9px;\">So you know our emails are genuine, whenever we include links to our website in emails we will also quote the last four digits of your card number: $!{ServiceAlertVO_last4}.</span></p></div>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-image","descriptor":{"image":{"alt":"Image","src":"https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/Integrators/9edf2c94-8936-4b01-bb25-156c0c4ffc9e/test1-clientside/email_header.png","href":""},"style":{"width":"100%","padding-top":"0px","padding-right":"0px","padding-bottom":"0px","padding-left":"0px"},"computedStyle":{"class":"center fullwidth","width":500}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 14px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;\" data-mce-style=\"font-size: 12px; line-height: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;\"><p style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 16px;\"><span style=\"font-size: 14px; line-height: 16px; color: rgb(153, 51, 0); background-color: rgb(255, 255, 255);\" data-mce-style=\"font-size: 14px; line-height: 16px; color: #993300; background-color: #ffffff;\"><span style=\"font-size: 18px; line-height: 21px;\" data-mce-style=\"font-size: 18px;\">Available for 60 days from account opening</span>.</span></p></div>","style":{"color":"#E20404","line-height":"120%","font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\"><p style=\"font-size: 12px; line-height: 18px;\" data-mce-style=\"font-size: 12px; line-height: 14px;\">Your Virgin Money Credit Card account ending $!{ServiceAlertVO_last4}<br>Your credit limit: $!{V_CREDIT_LIMIT.replace(\"\\u0024\",\"£\")}<br>Account opening date: $!{V_OPEN_DATE}</p></div>","style":{"color":"#555555","line-height":"150%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"}}},{"type":"mailup-bee-newsletter-modules-text","descriptor":{"text":{"html":"<p style=\"font-size: 12px; line-height: 14px;\">Dear&nbsp;$!{V_PRIM_FULL_FIRST_NAME}</p>","style":{"color":"#555555","line-height":"120%","font-family":"inherit"},"computedStyle":{"linkColor":"#0068A5"}},"style":{"padding-top":"10px","padding-right":"10px","padding-bottom
[...]
